@import './normalize'

[draggable="true"] 
  user-select: none
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none

#menu
  > div
    width: 100px
    height: 100px
    display: inline-block
    margin: 0 5px
    border: 1px dotted #ccc


#operatingArea
  border: 1px solid #ccc
  min-height: 300px
  padding: 15px
  box-sizing: border-box
  transition: all .3s
  div
    min-height: 300px
    border: 1px solid #ccc
    box-sizing: border-box
    display: inline-block
    width: 100%
    letter-spacing: 0
    padding: 15px
    background-color: #fff
    z-index: 2
    transition: all .3s
.Slect
  background-color: #fffbd3 !important
  z-index: 1
  position: relative
  &.L, &.R, &.T, &.B, &.C
    &::after
      content: ''
      display: block
      color: #fff
      position: absolute
      background: url('')
      z-index: -1
  &.L::after
    left: 0
    top: 0
    width: 20px
    height: 100%
  &.T::after
    left: 0
    top: 0
    width: 100%
    height: 20px
  &.R::after
    right: 0
    top: 0
    width: 20px
    height: 100%
  &.B::after
    left: 0
    bottom: 0
    width: 100%
    height: 20px
  &.C::after
    left: 20px
    top: 20px
    width: calc( 100% - 40px )
    height: calc( 100% - 40px )
.frame
    
  
    
    


