@import './normalize'

[draggable="true"] 
  user-select: none
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none

#menu
  > div
    width: 100px
    height: 100px
    display: inline-block
    margin: 0 5px
    border: 1px dotted #ccc


#operatingArea
  border: 1px solid #ccc
  min-height: 300px
  padding: 15px
  box-sizing: border-box
  transition: padding .3s
  div
    min-height: 300px
    border: 1px solid #ccc
    box-sizing: border-box
    display: inline-block
    width: 100%
    letter-spacing: 0
    padding: 15px
    background-color: #fff
    z-index: 2
    transition: padding .3s
  [data-row]
    width: 100%
    
.Slect
  z-index: 1
  position: relative
  &.L, &.R, &.T, &.B, &.C
    &::after
      content: ''
      display: block
      color: #fff
      position: absolute
      background: url('../img/plas.png') center no-repeat rgba(255, 251, 211, 0.5)
      z-index: -1
  &.l, &.r, &.b, &.t
    &::after
      content: ''
      display: block
      color: #fff
      position: absolute
      background: url('../img/plas_outsite.png') center no-repeat  rgba(255, 251, 211, 0.5)
      z-index: -1
  &.L,&.l
    padding-left: 40px !important
    &::after
      left: 0
      top: 0
      width: 40px
      height: 100%
  &.T, &.t
    padding-top: 40px !important
    &::after
      left: 0
      top: 0
      width: 100%
      height: 40px
  &.R, &.r
    padding-right: 40px !important
    &::after
      right: 0
      top: 0
      width: 40px
      height: 100%
  &.B, &.b
    padding-bottom: 40px !important
    &::after
      left: 0
      bottom: 0
      width: 100%
      height: 40px
  &.C::after
    left: 0
    top: 0
    background-color: rgba(255, 251, 211, 0.5)
    width: 100%
    height: 100%
  &.l::after
    border-right: 1px solid #ccc
    border-left: 1px solid #ccc
    left: -20px
  &.r::after
    border-left: 1px solid #ccc
  &.t::after
    top: -10px
    border-top: 1px solid #ccc
    border-bottom: 1px solid #ccc
  &.b::after
    border-top: 1px solid #ccc



    
  
    
    


